amqp==2.3.2
APScheduler==3.5.1
billiard==3.5.0.3
celery==4.2.0
click==6.7
Django==1.11.10
django-mdeditor==0.1.4
django-tinymce==2.7.0
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
Pillow==5.1.0
PyMySQL==0.8.1
pytz==2018.4
six==1.11.0
tzlocal==1.5.1
vine==1.1.4
Werkzeug==0.14.1
